{% include('header.twig') %}
<?php include('../fonction.php');?>
<br><br><br>



<table border=1 align=center>
   <caption align='center'>Historique Emprunt</caption>

   <tr>
       <th align=center>ID Emprunt</th>
       <th align=center>Date de Debut</th>
       <th align=center>Date de Fin Prevu</th>
       <th align=center>Date de Rendu</th>
       <th align=center>ID Utilisateur </th>
       <th align=center>ID Materiel</th>
   </tr>
    {% for emprunt in emprunt %}
        <tr>
            <td align=center>{{ emprunt.Id }}</td>
            <td align=center>{{emprunt.DateDebut}}</td>
            <td align=center>{{emprunt.DateFinPrevu}}</td>
            <td align=center>{{emprunt.DateRendu}}</td>
            <td align=center>{{emprunt.Utilisateur_Id}}</td>
            <td align=center>{{emprunt.Materiel_id}}</td>
        </tr>     
    {% endfor %}
</table>



{% include('footer.twig') %}

