{% include('header.twig') %}


  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('./assets/informatique.jpg')">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('./assets/informatique2.jpg')">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('./assets/informatique3.jpg')">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h1>{{ appName }}</h1>
      <p>
        Bienvenue sur Inventorix 2000, le site de réservation de matériels informatique en ligne. Ici aucun problème de gestion, on vous garantie une parfaite gestion du matériel grâce à notre génération de code barre. Vous pouvez donc facilement gérer le matériel emprunté, mais aussi les utilisateurs et les étudiants qui ont accès au site. Grâce à Inventorix 2000 vous n'aurez plus aucun problème.
      </p>
    </div>
  </section>

  <div class="chart-container">
      <div class="doughnut-chart-container">
          <canvas id="doughnut-materiel-dispo"></canvas>
      </div>

      <div class="doughnut-chart-container">
          <canvas id="doughnut-materiel-a-rendre"></canvas>
      </div>
  </div>

{% include('footer.twig') %}

<script>
      new Chart(document.getElementById("doughnut-materiel-dispo"), {
          type: 'doughnut',
          data: {
            labels: ["Disponible", "Emprunté"],
            datasets: [
              {
                label: "Matériel Emprunté",
                backgroundColor: ["#27ae60", "#2980b9"],
                data: [{{ statsMaterielDispo }}, {{ statsEmprunt }}]
              }
            ]
          },
          options: {
            responsive: true,
            title: {
              display: true,
              text: 'Matériel disponible',
              fontSize: 18,
              fontColor: "#111"
            },
            legend: {
                display: true,
                position: "bottom",
                labels: {
                    fontColor: "#333",
                    fontSize: 16
                }
            }
          }
      });
      new Chart(document.getElementById("doughnut-materiel-a-rendre"), {
          type: 'doughnut',
          data: {
            labels: ["Non Rendu", "Bientôt à Rendre"],
            datasets: [
              {
                label: "Matériel à Rendre",
                backgroundColor: ["#c0392b", "#d35400"],
                data: [{{ statsEmpruntNonRendu }}, {{ statMaterielRendre }}]
              }
            ]
          },
          options: {
            responsive: true,
            title: {
              display: true,
              text: 'Matériel à Rendre',
              fontSize: 18,
              fontColor: "#111"
            },
            legend: {
                display: true,
                position: "bottom",
                labels: {
                    fontColor: "#333",
                    fontSize: 16
                }
            }
          }
      });
</script>